# Compiled object files
*.o
*.obj

# Precompiled headers
*.gch
*.pch

# Static and shared libraries
*.lib
*.a
*.la
*.lo

# Executables
*.exe
*.out
*.app

# Build directory
build/

# Test Directory
tests/

# IDE/editor directories
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Vim swap files
*.swp

# CMake files (if ever used)
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile.user

# Logs and history
*.log